$white: #fff;
$black: #000;
$secondary: #be123c;
$light_text: #9ca3af;
$footer_light_text: #6b7280;
$dark_text: #111827;
$light_border: #d1d5db;
$sidebar_menu: #666;
$sidebar_menu_list: #404040;
$overview_text: #333;

/* MEDIA SCREENS 
@media screen and (min-width: 1200px) {
  
 }
    @media screen and (min-width: 992px) {

    }
    
    @media screen and (min-width: 768px) {

    }
    @media screen and (min-width: 576px) {

    }

      @media screen and (min-width: 400px) {

      }
*/
