/* ----------------MIXINS---------------- */
@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------COnTAINER---------------- */
.container_main {
  padding: 1rem;
}
